#!/usr/bin/env bash

## Bash

  # -l long format
  # -A show dot files without ./ and ../
  # -h adds human readable dates
  # -p add a slash to folders
  # -F adds more flags to other files
  #  disable temporalily with \ls
  alias ls='ls -lAhpF'

  # Common mistakes
  alias cd..='cd ..'
  alias pnig='ping'
  alias gti='git'

  # Quick sudo
  #alias fuck='sudo $(history -p \!\!)'

  # Always enable colored `grep` output
  alias grep='grep --color=auto'


## Git

  # Files most frequently modified
  #alias churn="git log --pretty='format:' --name-only \
    #| grep -v ^$ | sort | uniq -c \
    #| sed -e 's/^ *//' | sort -rg | head -n 30"

  # Show the last bit of the log
  alias lol="clear; git lola --color=always | head -n 20"

  # Include changes into last commit
  alias yep="git a; git commit --amend --no-edit"

  # Use the force, but never push force
  alias please="git push --force-with-lease"

  # Drop changes, including newly created files
  alias nah="git reset --hard; git clean -df"

  # Reset local branch to matching remote branch
  alias drop="git reset --hard @{upstream}"

  # Switch back and forth between last branches
  alias pop="git switch -"

  # Rebase over last branch
  alias reb="git rebase -i -"

  # Undo last commit but leave files for diff
  alias undo="git reset --soft HEAD^ && git reset HEAD --"


## Node

  # Show global modules
  alias npmls="npm list -g --depth=0"

  # Remove modules for a clean install
  #alias npmprune="rm -rf node_modules && rm -f package-lock.json"


## Utilities

  # Print each PATH entry on a separate line
  alias path='echo -e ${PATH//:/\\n}'

  # Quickly get ip
  #alias myip="dig +short myip.opendns.com @resolver1.opendns.com"

  # Http static server
  #alias serve="python -m SimpleHTTPServer 8000"

  # Record terminal with python3 lib
  #alias record='termtosvg --theme dracula'

  # npm -g install localtunnel
  #alias localtunnel='lt'

  # sudo apt-get install tldr
  #alias man="tldr"


## Terminal color scheme

  # https://mayccoll.github.io/Gogh/
  # 03 08 11 13 17 18 29 32 35 51 54 66 67 69 90 93 96
  # 104 109 110 111 112 114 122 136 138 142 144 147 152
  alias colorscheme='bash -c "$(wget -qO- https://git.io/vQgMr)"'

