# bash

  # -G show colors
  # -p add a slash to folders
  # -F adds more flags to other files
  # -h adds human readable dates
  #  disable temporalily with \ls 
  alias ls='ls -laGpFh'

  # common mistake
  alias cd..='cd ..'

  # -i prompts confirmation
  # -v verbose mode
  alias rm='rm -iv'
  alias mv='mv -iv'
  alias cp='cp -iv'

# git

  # churn per file
  alias churn="git log --pretty='format:' --name-only \
    | grep -v ^$ | sort | uniq -c \
    | sed -e 's/^ *//' | sort -rg | head -n 30"

  # reset changes
  alias nah="git reset --hard; git clean -df"

  # include changes into last commit
  alias yep='git a && git commit --amend --no-edit'

# npm
  alias r="npm run"
  alias npmls="npm list -g --depth=0"

# utilities

  # http static server
  alias serve="python -m SimpleHTTPServer 8000"

  # quickly get ip
  alias ip='ifconfig | grep broadcast'

  # use spotlight to search
  alias f='mdfind -name'

  # quick sudo
  alias fuck='sudo $(history -p \!\!)'

  # restart sound
  alias sound="sudo killall coreaudiod"

# servers by name

  # servers (dev)
  alias decines="ssh root@10.113.94.156"
  alias helsinki="ssh root@10.113.94.156"
  alias amsterdam="ssh root@172.16.0.55"
  alias dev="ssh GVS@10.169.130.24"

  # servers (customers)
  alias ima1="ssh root@10.228.94.136"
  alias ima2="ssh root@10.228.94.146"
  alias timon="ssh root@10.228.94.156"
  alias bourg="ssh root@93.17.9.227"
