#!/usr/bin/env bash

# Editor
export GET_EDITOR='vim'

# Prefer US English and use UTF-8
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# Use `ls` colors in macOS
export CLICOLOR=1

# Stop macOS from telling me to use zsh
export BASH_SILENCE_DEPRECATION_WARNING=1


# Man pages

  # Setup less pager for man pages
  # -X      Don't clear screen after quitting a man page
  # -s      Squeeze/consolidate blank lines
  # -M +Gg  Additional info (i.e. percentage)
  # https://stackoverflow.com/a/19871578/1585841
  export MANPAGER='less -s -M -X +Gg'

  # Highlight section titles in manual pages
  # https://unix.stackexchange.com/a/108840/272465
  yellow=$'\E[01;33m'
  export LESS_TERMCAP_md="${yellow}"


# History

  # Allow 32^3 entries; the default is 500
  export HISTSIZE='32768'
  export HISTFILESIZE="${HISTSIZE}"

  # Omit duplicates and leading spaces, i.e `ignorespace:erasedups`
  export HISTCONTROL='ignoreboth'


# Node REPL

  # Enable persistent REPL history
  export NODE_REPL_HISTORY="${HOME}/.node_history"

  # Allow 32^3 entries, the default is 1000
  export NODE_REPL_HISTORY_SIZE='32768'


# PATH

  # Golang
  export GOROOT='/usr/local/go'
  export PATH="$PATH:/usr/local/go/bin"

  # Rust lang
  export PATH="$HOME/.cargo/bin:$PATH"

