[user]
  name = gabssnake
  email = gabssnake@gmail.com

[core]
  editor = subl -n -w
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes

[color]
  branch = auto
  diff = auto
  grep = always
  interactive = auto
  status = auto
  ui = auto

[credential]
  helper = osxkeychain

[push]
  default = current
  followTags = true

[branch]
  autosetuprebase = always

[alias]
  staged = diff --staged
  unstage = reset HEAD --
  squash = reset --hard HEAD~1
  s = status -sb
  a = add -A :/
  p = add -p
  c = commit -m
  l =    log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  lola = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[apply]
  whitespace = nowarn

[diff]
  submodule = log

[status]
  submoduleSummary = true
  showUntrackedFiles = all

[help]
  autocorrect = 1
