[user]
  name = gabssnake
  email = gabssnake@gmail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore

[color]
  branch = auto
  diff = auto
  grep = always
  interactive = auto
  status = auto
  ui = auto

[credential]
  helper = cache

[push]
  default = current
  followTags = true
	useForceIfIncludes = true

[alias]
  s = status -sb
  a = add -A :/
  c = commit -m
  lola = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[apply]
  whitespace = nowarn

[diff]
  submodule = log
  colorMoved = default

[status]
  submoduleSummary = true
  showUntrackedFiles = all

[help]
  autocorrect = 1

[pull]
  rebase = true

[rerere]
  enabled = true

[init]
  defaultBranch = main

[merge]
  renameLimit = 10000
[advice]
  skippedCherryPicks = false
