[user]
	name = Gabriel VIVAS
	email = gabriel.vivas@stormshield.eu

[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[color]
    branch = auto
    diff = auto
    grep = always
    interactive = auto
    status = auto
    ui = auto

[credential]
	helper = cache

[push]
    default = current
    followTags = true

[alias]
    staged = diff --staged
    unstage = reset HEAD --
    s = status -sb
    ss = status -sb
    sss = status -sb
    a = add -A :/
    p = add -p
    c = commit -m
    lola = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[apply]
    whitespace = nowarn

[diff]
    submodule = log
	colorMoved = default

[status]
    submoduleSummary = true
    showUntrackedFiles = all

[help]
    autocorrect = 1

[pull]
   rebase = true
[rerere]
	enabled = true
